body{
    margin: 0;
   padding: 0;
   font-family: 'Mukta', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}
.header{
   background-color: rgb(22, 21, 21);
   display: flex;
   border-radius: 20px;
   color: white;
   width: 80%;
   height: 510px;
   margin: 0 auto;
   margin-top: 50px;    
}
.header h1{
   font-size: 60px;
   margin: 100px 0 20px 50px ;
}
.header p{
   margin: 50px 20px 0 50px;
}

.header-bttn{
   background-color: red;
   color: white;
   font-size: 20px;
   border-radius: 10px;
   width: 180px;
   height: 45px;
   margin-top: 40px;
   margin-left: 50px;
   transition: 1s;
}
.header-img img{
   height: 510px;

}
.fa-angle-right{
   color: white;
}
.button{
   display: flex;
   height: 280px;
   width: 25%;
   margin: 82px 0 0 130px;
   border-radius: 10px;
   flex-direction: column;
   background-color: rgb(10, 10, 10);
   align-items: center;
   justify-content: center;
}
.button button{
   font-size: 18px;
   height: 50px;
   width: 230px;
   margin: 8px;
   background-color: white;
   border-radius: 10px;
   }
   .button button a{
       text-decoration: none;
       color: black;
   }
   .button button Blog{
       background-color: red;
   }
#bttn{
       background-color: red;
   }
   .Deccribtion-bottom{
      width: 80%;
      display: grid;
      grid-template-columns:repeat(3, 1fr);
      gap:  1rem;
      margin-top: 80px;
      margin-left: 20px;
  }
  .blogs{
width: 90%;
  }

  .item{
   border-radius: 1rem;
   border: 1px solid rgb(71, 73, 72);
   display: flex;
   flex-direction: column;
}
.item-top{
   padding: 2.5rem 0.2rem ;
   height: 50%;
   width: 100%;
   display: flex;
   flex-direction: row;
}
.item-top img{
   height: 80%;
   width: 40%;
}
.item-top h1{
   margin: 1.5rem 0.5rem;
}
.item-bottom{
   padding: 2rem 0.2rem ;
   height: 50%;
   width: 100%;
   margin-top: -2.5rem;

   display: flex;
   flex-direction: column;
}
.item-bottom h1{
   font-size: 1.3rem;
   text-align: center;
}

.item-bottom h2{
   font-size: 1.3rem;
   text-align: center;
}






.blogs{
   display: flex;
}







   


.Show-more-bttn button{
   background-color: red;
   height: 40px;
   width: 150px;
   border-radius: 8px;
   font-size: 25px;
   color: white;
   border: none;
   visibility: hidden;
  
}
.Show-more-bttn{
   margin-left: 720px;
   margin-bottom: 50px;
}

.footer{
   color: white;
   height: 300px;
   background-color: black;
}
footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 20px 0;
}
footer h1{
   font-size: 40px;
   border-bottom: 1px solid white;
   width: 70%;
   text-align: center;
}
footer li{
list-style: none;
}
footer li a{
   padding: 0 1rem;
   color: white;
   text-decoration: none;
}
.fav-icn  {
   display: flex;
   margin-top: 20px;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   font-size: 1.8rem;
   color: white;
}
.fav-icn  a{
   margin: 0 25px;
}
.fa-facebook-square{
   color: white;
}   
.fa-twitter-square{
   color: white;
}   
.fa-instagram-square{
   color: white;
}
.header-bttn:hover
{
   border: 1px solid white;
   background-color: darkcyan;
}